{% extends 'trainer/index.html' %}
{% block body %}
    <html>
    <head>
        <style>
            .description-cell {
    word-wrap: break-word; /* Allows breaking of long words */
    white-space: pre-wrap; /* Keeps the whitespace formatting and breaks lines as needed */
    max-width: 200px; /* Adjust the width according to your needs */
}
        </style>
    </head>
<center>
<form id="form1" name="form1" method="post" action="/view_update_trainer">
  {% csrf_token %}<table class="table table-dark" border="1">
    <tr>
      <td>Name</td>
      <td>
      <input class="form-control" type="text" name="textfield" value="{{ data.trainername }}" id="textfield" /></td>
    </tr>
    <tr>
      <td>email</td>
      <td>
      <input class="form-control" type="text" name="textfield2"value="{{ data.traineremail }}" id="textfield2" /></td>
    </tr>
    <tr>
      <td>phone</td>
      <td>
      <input class="form-control" type="text" name="textfield3" value="{{ data.phone }}" id="textfield3" /></td>
    </tr>
    <tr>
      <td>place</td>
      <td>
      <input class="form-control" type="text" name="textfield4" value="{{ data.place }}" id="textfield4" /></td>
    </tr>
    <tr>
      <td>post</td>
      <td>
      <input class="form-control" type="text" name="textfield5" value="{{ data.post }}"id="textfield5" /></td>
    </tr>
    <tr>
      <td>pin</td>
      <td>
      <input class="form-control" type="text" name="textfield6" value="{{ data.pin }}" id="textfield6" /></td>
    </tr>
  </table>
</form>
</center>
    </html>
{% endblock %}

