{% extends 'trainer/index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark" width="200" border="1">
    <tr>
      <td>#</td>
      <td>batch name</td>
      <td>&nbsp;</td>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>&nbsp;{{ i.BATCH.batchname }}</td>
      <td><a href="/view_user_trainer/{{ i.BATCH.id }}#abc" class="btn btn-outline-danger">view member</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
