{% extends 'expert/index.html' %}
{% block body %}
    <html>
    <head>
        <style>
            .description-cell {
    word-wrap: break-word; /* Allows breaking of long words */
    white-space: pre-wrap; /* Keeps the whitespace formatting and breaks lines as needed */
    max-width: 200px; /* Adjust the width according to your needs */
}
        </style>
    </head>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark" width="200" border="1">
    <tr>
      <td>#</td>
      <td>video</td>
      <td >description</td>
      <td>date</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }};</td>
      <td><video width="320" height="240" controls>
  <source src="{{ i.video }}" type="video/mp4">
</video></td>
      <td class="description-cell">&nbsp;{{ i.description }} </td>
      <td>{{ i.date }}</td>
      <td><a href="/delete_video/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
    </html>
{% endblock %}