<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/addexpert_trainer">add expert/trainer</a></td>
    </tr>
    <tr>
      <td><a href="/viewexpert_trainer">view trainer</a></td>
    </tr>
      <tr>
      <td><a href="/view_expert">view expert</a></td>
    </tr>
    <tr>
      <td><a href="add_batch">add batch</a></td>
    </tr>
    <tr>
      <td><a href="/view_batch">view batch</a></td>
    </tr>
    <tr>
      <td><a href="/view_registered_user">view registered user</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="/batch_allocation_to_trainer">batch allocation to trainer</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="/change_password">change password</a></td>
    </tr>
    <tr>
      <td><a href="/month_wise_report">monthly report</a></td>
    </tr>
    <tr>
      <td><a href="/fee_due">view fee due</a></td>
    </tr>
    <tr>
      <td><a href="/send_alert">send alert</a></td>
    </tr>
    <tr>
      <td><a href="/add_event">add event</a></td>
    </tr>
    <tr>
      <td><a href="/view_event">view event</a></td>
    </tr>
  </table>
</form>
</body>
</html>
