{% extends 'admin/index.html' %}
{% block body %}
    <h1 style="color:white">MONTHLY WISE REPORT</h1>
<form id="form1" name="form1" method="post" action="/monthly_wise_report_post#abc">

{% csrf_token %}<table class="table table-dark" width="200" border="1" >
  <tr>
    <td>Choose</td>
    <td>
      <select class="form-control" name="select" id="select">
        <option value="01">Jannuary</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select></td>
    <td>
      <select class="form-control" name="select2" id="select2">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
      </select></td>
    <td><input type="submit" name="button" class="btn btn-outline-danger" id="button" value="Submit" /></td>
  </tr>
  <tr>
    <td colspan="2">#</td>
    <td colspan="2">Total Amount</td>
    </tr>
    {% for i in data %}
  <tr>
    <td colspan="2">{{ forloop.counter }}&nbsp;</td>
    <td colspan="2">{{ i.data }}&nbsp;</td>
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}