{% extends 'admin/index.html' %}
{% block body %}
    <h1 style="color:white">BATCHS</h1>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark" width="200" border="1">
    <tr>
      <td>#</td>
      <td>Batch Name</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>&nbsp;{{ i.batchname }}</td>
      <td><a style="width:50% " href="/delete_batch/{{ i.id }}" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}